<div class="container d-flex flex-column align-items-center">
  <h2 class="main-header">Movie details:</h2>
  <div class="w-75">
    <h4><span>Title: </span><%= movieFound.title %></h4>
    <h4><span>Genre: </span><%= movieFound.genre %></h4>
    <p><span>Plot: </span><%= movieFound.plot %></p>
    <hr />
  </div>
  <h3 class="main-header">Cast:</h3>
  <div class="w-75">
    <% movieFound.cast.forEach(actor => { %>
    <h4><span>Actor: </span><%= actor.name %></h4>
    <h4><span>Role: </span><%= actor.occupation %></h4>
    <p><span>Catchphrase: </span>"<%= actor.catchPhrase %>"</p>
    <hr />
    <% }) %>
  </div>
  <div class="w-50 d-flex btn-ctn">
    <form
      class="col-6"
      method="POST"
      action="/movies/<%- movieFound._id %>/delete"
    >
      <button type="submit" class="btn btn-block btn-danger">
        Delete the movie
      </button>
    </form>
    <form
      class="col-6"
      method="GET"
      action="/movies/<%- movieFound._id %>/edit"
    >
      <button type="submit" class="btn btn-block btn-danger">
        Update the movie
      </button>
    </form>
  </div>
</div>
